.projects-project-text-container {
    width: 45%;
    height: 90vw;
    display: flex;
    align-items: center;
    /* justify-items: center; */
    flex-direction: column;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 0 5vw;
    /* padding: 0 2.5vw 0 2.5vw;
    margin: 0 2.5vw 0 2.5vw; */
}

