.homepage-featured-p1 {
    display: inline;
    font-size: 1.8vw;
    max-width: 90%;
    text-align: center;
}

.homepage-featured-internal-link {
    font-size: 1.8vw;
    font-weight: bolder;
    color: black;
}

@media screen and (min-width: 1500px) {
    .homepage-featured-p1 {
        font-size: 16.866px;
    }
}

@media screen and (min-width: 1500px) {
    .homepage-featured-internal-link {
        font-size: 16.866px;
    }
}


@media screen and (max-width: 600px) {
    .homepage-featured-p1 {
        font-size: 4vw;
    }

    .homepage-featured-internal-link {
        font-size: 4vw;
    }
}
