.featured-project-container {
    margin: 5vh 2.5vw 2vh 2.5vw;
    /* max-width: 40vw; */
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: aquamarine;
    border-radius: 5vmin;
    /* border: black solid 5px; */
    /* height: 50vh; */
    /* max-height: 650px; */
}

.featured-social-links {
    display: flex;
}

.featured-project-container > h1 {
    margin: 0;
}

.featured-project-container > P {
    width: 90%;
}

@media screen and (max-width: 1200px) {
    .featured-project-container {
      margin: 5vh 10vw 2vh 10vw;
      width: 65vw;
    }
}

@media screen and (max-width: 500px) {
    .featured-project-container {
      margin: 5vh 10vw 2vh 10vw;
      width: 65vw;
      height: 35vh;
    }
}