/* .featured-image-link {
  display: flex;
} */

.featured-image {
    height: 28vh;
    width: 28vw;
    border-radius: 1.5vh;
}


@media screen and (min-width: 1500px) {
    .featured-image {
      height: 308px;
      width: 550px;
    }
}