
.projects-project-description {
    font-size: 1.5vw;
    /* margin: 0 0 0.5vw 0; */
}


@media only screen and (max-width: 600px) {
    .projects-project-description {
        font-size: 4vw;
        margin: 0 2.5vw 6vw 2.5vw;
        /* width: 90%; */
        /* padding: 10vw; */
        /* grid-area: 1; */
        /* display: inline-block; */
        /* text-align: center; */
        /* margin: 0vw 0 0vw 0; */
        /* height: 25%; */
    }
}

@media screen and (min-width: 1500px){
    .projects-project-description {
        font-size: 1vw;
    }
}