.header-h1 {
    font-size: 4.2vmin;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px){
    .header-h1 {
        font-size: 6.2vmin;
        min-width: 60%;
        font-weight: bolder;
        /* height: 12.5vmin; */
    }
}