.footer {
    background-color: rgb(47, 137, 255);
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(47,137,255,1) 5%); */
    
    margin: 0;
    padding: 0;
    bottom: 0;
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    /* justify-content: space-between; */
}