.projects-project-technicals {
    font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
    .projects-project-technicals {
        font-size: 2.7vw;
        margin: 0 2.5vw 3vw 2.5vw;
        white-space: pre-wrap;
    }
}

@media only screen and (min-width: 1500px){
    .projects-project-technicals {
        font-size: 1vw;
    }
}
