.about-tech-stack-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 5vw 0;
    padding: 5vw 0 5vw 0;
}

@media screen and (max-width: 600px){
    .about-tech-stack-container {
        margin: 0 0 5vw 0;
        padding: 5vw 0 5vw 0;
    }
}