.homepage-h1 {
    margin: 4vw 0 2vw 0;
    text-align: center;
    width: 90%;
    font-size: 2.7vw;
}


@media screen and (min-width: 1500px) {
    .homepage-h1 {
        margin: 4vw 0 2vw 0;
        font-size: 4.2vmin;
    }
}

@media screen and (max-width: 600px){
    .homepage-h1 {
        font-size: 3.5vw;
        margin: 8vw 0 3vw 0;
    }
}