.projects-project-name {
    font-size: 4vw;
    float: left;
    width: 40vw; 
    margin: 0 0 6vw 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .projects-project-name {
        font-size: 4vw;
        width: 40vw; 
        margin: 0 0 6vw 0;
    }
}