.App {
  position: relative;
  overflow: hidden;
}

.content {
  background-color: rgb(228, 249, 255);
}

.body {
  margin: 15px;
  padding: 0;
}


h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}